.idea/
build/
.gradle/
.vscode/

# Игнорировать временные файлы
*.cast
*.rec
**/logs/

# Игнорировать файлы сборки
**/src/main/**/build/
**/src/test/**/build/
**/src/main/**/out/
**/src/test/**/out/
**/src/main/**/bin/
**/src/test/**/bin/

# Игнорировать файлы конфигурации для IntelliJ IDEA
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Игнорировать файлы конфигурации для Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Игнорировать файлы конфигурации для NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Игнорировать файлы для Mac OS
.DS_Store

# Исключения
!gradle/wrapper/gradle-wrapper.jar